<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>VerTemas</servlet-name>
        <servlet-class>temaDeLaSemana.VerTemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>buscopiniones.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTimeline</servlet-name>
        <servlet-class>buscopiniones.JsonTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenNoticia</servlet-name>
        <servlet-class>buscopiniones.ImagenNoticia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerTemas</servlet-name>
        <url-pattern>/VerTemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTimeline</servlet-name>
        <url-pattern>/JsonTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenNoticia</servlet-name>
        <url-pattern>/ImagenNoticia/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
