<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 22 de junio de 2013, 06:29 PM
    Author     : Rodrigo
    Description:
        Aca tienen que ir las rutas a los directorios donde estan instaladas
		las cosas, en las rutas hay que poner la "\" del final, por ejemplo,
		C:\carpeta\.
-->

<Configuracion>
	<dirOpiniones>C:\Users\Bongo\Jairo\ProyectoDeGrado\opiniones\</dirOpiniones>
	<dirFreeling>C:\freeling_win\freeling\bin\</dirFreeling>
	<dirCorreferencias>C:\Users\Bongo\Jairo\ProyectoDeGrado\InformeFinalCorreferencias\Proyecto_v6.2\</dirCorreferencias>
	<dirPython>C:\Python27\</dirPython>
	<dirProlog>C:\Program Files\pl\bin\</dirProlog>
</Configuracion>
